.menu-item {
  color: rgba(255, 255, 255, 0.85);
  font-weight: 600;
  padding: 6px 2px;
  position: relative;
  transition: color .2s ease;
}

.menu-item:hover {
  color: #38bdf8;
  background: transparent !important;
  opacity: 1 !important;
}


.menu-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background: #22d3ee;
  transition: width .25s ease;
}
.menu-item:hover::after {
  width: 100%;
}
